@model IEnumerable<MusicStore.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}

<h2>Artists | <button class="btn btn-default" onclick="location.href='@Url.Action("Create")'">Add new</button></h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:right">
                <div class="btn-group">
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Edit</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'">Delete</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
