@model MusicStore.Models.Track

@{
    ViewData["Title"] = "Track details";
}

<div class="container-flex" style="align-items:center">
    <div class="container-flex-item-left">
        <h3>Track</h3>
    </div>
    <div class="container-flex-item-right" style="text-align:right; padding:4px">
        <button class="btn-link-glyphicon" aria-label="Back" onclick="GoBack()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" />
        </button>
        <button class="btn-link-glyphicon" aria-label="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.ID })'">
            <span class="glyphicon glyphicon-edit" aria-hidden="true" />
        </button>
        <button class="btn-link-glyphicon" aria-label="Delete" onclick="location.href='@Url.Action("Delete", new { id = Model.ID })'">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" />
        </button>
        <button class="btn-link-glyphicon" aria-label="Tracks list" onclick="location.href='@Url.Action("Index")'">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true" />
        </button>
    </div>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </dt>
        <dd>
            <a class="a-list" href="@Url.Action("Details", "Artists", new { id = Model.Album.ArtistID })">
                @Html.DisplayFor(model => model.Album.Artist.Name)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            <a class="a-list" href="@Url.Action("Details", "Albums", new { id = Model.AlbumID })">
                @Html.DisplayFor(model => model.Album.Title)
            </a>
        </dd>
    </dl>
</div>
