@model IEnumerable<MusicStore.Models.Track>

@{
    ViewData["Title"] = "Tracks";
}

<h2>Tracks | <input type="button" value="Add new" class="btn btn-default" onclick="location.href='@Url.Action("Create")'" /></h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4 class="h4-th">@Html.DisplayNameFor(model => model.Title)</h4>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index")'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "titles_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th>
                <h4 class="h4-th">@Html.DisplayNameFor(model => model.Album.Artist)</h4>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index", new { sortOrder = "artists_asc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "artists_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th>
                <h4 class="h4-th">@Html.DisplayNameFor(model => model.Album)</h4>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index", new { sortOrder = "albums_asc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "albums_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td style="text-align:right">
                <div class="btn-group">
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Edit</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'">Delete</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
