@model IEnumerable<MusicStore.Models.Track>

@{
    ViewData["Title"] = "Tracks";
}
<div class="container-flex" style="align-items:center; margin-top:10px">
    <div class="container-flex-item-left" style="min-width:unset">
        <h2 style="margin:unset">Tracks</h2>
    </div>
    <div class="container-flex-item-push-right" style="text-align:right">
        <form asp-action="Index" method="get" class="input-group" style="max-width:380px">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" style="border-bottom-left-radius:unset" onclick="location.href='@Url.Action("Create")'">Add new</button>
            </span>
            <input type="text" class="form-control" name="searchString" placeholder="Search track" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" aria-label="Search">
                    <span class="glyphicon glyphicon-small glyphicon-search" aria-hidden="true" />
                </button>
                <button type="button" class="btn btn-default" aria-label="Back" onclick="GoBack()">
                    <span class="glyphicon glyphicon-small glyphicon-chevron-left" aria-hidden="true" />
                </button>
                <button type="button" class="btn btn-default" style="border-bottom-right-radius:unset" aria-label="Tracks list" onclick="location.href='@Url.Action("Index")'">
                    <span class="glyphicon glyphicon-small glyphicon-list" aria-hidden="true" />
                </button>
            </span>
        </form>
    </div>
</div>
<hr class="hr-title" />
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="header-sortable-th">@Html.DisplayNameFor(model => model.Title)</span>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index", new { sortOrder = "titles_asc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "titles_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th>
                <span class="header-sortable-th">@Html.DisplayNameFor(model => model.Album.Artist)</span>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index", new { sortOrder = "artists_asc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "artists_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th>
                <span class="header-sortable-th">@Html.DisplayNameFor(model => model.Album)</span>
                <button class="btn-link-glyphicon" aria-label="Sort ascending" onclick="location.href='@Url.Action("Index", new { sortOrder = "albums_asc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-bottom " aria-hidden="true" />
                </button>
                <button class="btn-link-glyphicon" aria-label="Sort descending" onclick="location.href='@Url.Action("Index", new { sortOrder = "albums_desc" })'">
                    <span class="glyphicon glyphicon-small glyphicon-triangle-top" aria-hidden="true" />
                </button>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td style="text-align:right">
                <div class="btn-group">
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Edit</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button>
                    <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'">Delete</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
